.circle {
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80px, -80px);
    animation-name: animasiya;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

@keyframes animasiya {
    0{
        transform: translate(-80px, -80px) scale(1);
    }
    33%{
        transform: translate(-80px, -80px) scale(0.7);
    }
    66%{
        transform: translate(-80px, -80px) scale(2);
    }
    100%{
        transform: translate(-80px, -80px) scale(1);
    }
}